<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Groups Viewer</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1>
        Raw Groups:
    </h1>
    <ul>
        {% for rawgroup in rawgroups %}
            <li>{{ rawgroup.name }}, id = {{ rawgroup.id }}, event = {{ rawgroup.rawevent.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>